*,
*::after,
*::before {
    margin: 0;
    padding: 0;
    box-sizing: inherit;
}

html {
    font-size: calc(10/16);
}

body {
    text-align: center;
    padding: 5rem 1rem;
    box-sizing: border-box;
    background-color: #406E8E;
    font-family: Roboto, sans-serif;
    min-width: 10rem;
    color: #fff;
}

.app-wrapper {
    margin: auto;
    max-width: 60rem;
}

.paper {
    margin: 5rem;
    min-height: 15.1rem;
}

.link a {
    text-decoration: none;
    color: rgba(0, 0, 0, 0.87);
    display: inline-block;
    padding: .5rem 0;
}

.link a:visted , a:focus, a:active{
    color: rgba(0, 0, 0, 0.87);
}

.link a:hover {
    color: rgba(0, 0, 0, 0.5);
}

.card {
    display: flex;
    flex-direction: row;
    min-height: 15.2rem;
    width: 100%;
}

.image {
    width: 15.1rem;
    height: auto;
    background-size: cover;
}

.text {
  width: 70%;
  padding: 1rem;
  text-align: left;
  
}

.not-found {
    margin-top: 2rem;
}

.title {
  margin-top: 3rem;
}

.menu {
    margin-right: 2rem;
}


@media  screen and (max-width: 667px) { 

    body {
      padding: 2rem;
    }
    .paper {
        margin-left: 0;
        margin-right: 0;
        margin-top: 3rem;
    }
    .card {
       flex-direction: column-reverse; 
       width: 100%;
    }

    .text{
        width: 100%;
    }

    .image {
        height: 15.1rem;
        width: 100%;
        background-size: contain;
    }

    .title {
      margin-top: 4rem;
    }
    
    .menu {
        margin-left: 0;
        margin-right: 0;
    }

    .toolbar {
        padding-left: .2rem!important;
    }

}